<p>Order {{model.id}} for {{model.name}}</p>
<p>The order is ready</p>
<table class='order-table table'>
	<thead>
		<tr>
			<th>Items</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Cost</th>
			<th>Cost%</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.items as |item| }}
			<tr>
				<th scope="row">{{item.title}}</th>
				<td>{{item.quantity}}</td>
				<td>Rs {{item.unitPrice}}</td>
				<td>Rs {{item.cost}}</td>
				<td>
					{{item-percentage itemPrice = item.cost orderPrice = model.totalCost}}
				</td>
			</tr>
		{{/each}}
		<tr>
			<th scope="row" colspan="3">Total</th>
			<td colspan="2">Rs {{model.totalCost}}</td>
		</tr>
	</tbody>
</table>